.modal {
  position: fixed;
  transform: translateX(-50%) translateY(-50%);
  height: 6rem;
  width: 40rem;
  top: 50vh;
  left: 50vw;
  z-index: 100;
  padding: 0.5rem;
  background: #999;
  border-radius: 0.5rem;
}

.modal-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 95;
  filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-close-button {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 0.5rem;
  transition: transform 0.2s;
}

.modal-close-button:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.modal-textbox {
  display: flex;
  align-items: center;
}

.modal-textarea {
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  cursor: pointer;
  padding: 0.3rem;
}

.modal-clipboard-button {
  backface-visibility: hidden;
  height: 1.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.modal-textarea:hover + .modal-clipboard-button {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}
.modal-clipboard-button:hover {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 25rem;
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.5);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.5);
  }

  70% {
    transform: scale(1);
  }
}
